body {
    color: white;
    background: black;
    margin: 24px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(95,158, 160);
}
section{
    background: rgb(245, 90, 245);
    padding-bottom: 45px;
    padding-top: 34px;
    display: flex;
    justify-content: center;
}


div{
  margin-right: 15px;
}